/* COMMON STYLE */
.container {
    margin: 0 auto;
    width: 1170px;
}
.clearfix{
    clear: both;
}
.text-center {
    text-align: center;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

/* HEADER */
.header {
    padding: 28px 0;
}

.logo {
    text-decoration: none;
}

/* NAVBAR */

.navbar {
    background-color: #f2f2f2;
    padding-top: 23px;
    padding-bottom: 23px;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav-item {
    display: inline-block;
    margin-right: 30px;
}

.navbar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #4e4e4e;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s;
}

.navbar-nav-link:hover {
    color: #7eb8b8;
}

.navbar-nav-link.active {
    color: #7eb8b8;
}

/* ABOUT US */

.about-us {
    padding: 40px 0;
}

.about-us-main-img {
    text-align: center;
    margin-bottom: 70px;
}

.about-us-title {
    font-size: 35px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #4e4e4e;
    text-transform: capitalize;
    margin-bottom: 27px;
    text-align: center;
}

.about-us-text {
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}
/*REVIEWS SLIDER*/

.reviews {
    background-image: url("../img/reviews-bg.png");
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.review-slide-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #eaeaea;
    text-transform: uppercase;
    margin-bottom: 34px;
}

.review-slide-text {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #eaeaea;
    line-height: 1.5;
    margin-bottom: 27px;
}

.review-author {
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #539696;
}

/*Our recent post ========== */

.recents-posts{
    padding: 80px 0 71px;
    box-sizing: border-box;
}

.recents-posts-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 25px;
}

.recents-post {
    float: left;
    width: 49%;
    box-sizing: border-box;
    margin-bottom: 24px;
    padding-right: 28px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.recent-post-img {
    display: inline-block;
    width: 160px;
    margin-right: 20px;
}

.recent-post-content {
    width: 342px;
    display: inline-block;
    vertical-align: top;
}

.recent-post-title {
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #595959;
    font-style: italic;
    margin-bottom: 11px;
    line-height: 1.5;
    font-weight: 600;
}

.recent-post-info {
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 8px;
    font-style: italic;
    margin-bottom: 12px;
    color: #d6d6d6;
}

.recent-post-text {
    display: inline-block;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 10px;
    line-height: 2;
    color: #5c5c5c;
}
/*INSTAGRAM POSTS*/

.instagram-posts{
    padding: 70px 0 ;
    background-color: #f7f7f7;
}
.instagram-post-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 30px;
    display: inline-block;
}
.instagram-post-links{
    display: inline-block;
    text-decoration: none;
    margin-left: 740px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #8e8e8e;
}
.instagram-post-img{
    margin-right: 4px;
    min-width: 285px;
}
.contact-info{
    float: right;
}
.content-main-logo{
    float: left
}
.contact-phone{
    line-height: 2;
}
/*FOOTER_CONTACT*/

.footer-contacts{
    background-color: #1e1f20;
    padding: 70px 0;
}
.footer-contacts-title{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #eaeaea;
    text-transform: uppercase;
    margin-bottom: 34px;
    text-align: center;
}
.footer-contacts-text{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    color: #929293;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    width: 600px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.contacts-contacts-icon{
    border-radius: 50%;
}
.our-contacts{
    padding: 41px;
    font-style: italic;
    color: #929293;
    font-size: 16px;
    text-align: center;
    line-height: 2;
    width: 647px;
    margin: 0 auto 26px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;


}
