.header{
    background-image: url(../img/header-bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    padding-top:122px;
    padding-bottom: 253px;
    background-repeat: no-repeat;
    background-position: center;
}
.container{
    width: 1140px;
    margin: 0 auto;
}
.header_title{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 48px;
    color: #ffffff;
    margin-bottom: 20px;
}
.header_suptitle{
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 24px;
    color: #ffffff;
}
/*
.main-content {
    ttu+tdn
}
*/


