/* COMMON STYLE */
.container {
    margin: 0 auto;
    width: 1170px;
}
​
.text-center {
    text-align: center;
}
​
.img-fluid {
    max-width: 100%;
    height: auto;
}
​
    /* HEADER */
.header {
    padding: 28px 0;
}
​
.logo {
    text-decoration: none;
}
​
    /* NAVBAR */
​
.navbar {
    background-color: #f2f2f2;
    padding-top: 23px;
    padding-bottom: 23px;
}
​
.navbar-nav {
    text-align: center;
}
​
.navbar-nav-item {
    display: inline-block;
    margin-right: 30px;
}
​
.navbar-nav-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    color: #4e4e4e;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4s;
}
​
.navbar-nav-link:hover {
    color: #7eb8b8;
}
​
.navbar-nav-link.active {
    color: #7eb8b8;
}
​
    /* ABOUT US */
​
.about-us {
    padding: 40px 0;
}
​
.about-us-main-img {
    text-align: center;
    margin-bottom: 70px;
}
​
.about-us-title {
    font-size: 35px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #4e4e4e;
    text-transform: capitalize;
    margin-bottom: 27px;
    text-align: center;
}
​
.about-us-text {
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #4e4e4e;
    text-align: center;
    margin-bottom: 20px;
    line-height: 1.5;
}
/*REVIEWS SLIDER*/
​
.reviews {
    background-image: url("../img/reviews-bg.png");
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;
}
​
.review-slide-title {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    color: #eaeaea;
    text-transform: uppercase;
    margin-bottom: 34px;
}
​
.review-slide-text {
    font-size: 20px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #eaeaea;
    line-height: 1.5;
    margin-bottom: 27px;
}
​
.review-author {
    font-size: 12px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    color: #539696;
}
​
    /*Our recent post ========== */
​
.recents-posts{
    padding: 80px 0 71px;
}
​
.recents-posts-title{
    text-transform: uppercase;
    font-size: 16px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 25px;
}
​
.recents-post {
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
}
​
.recent-post-img {
    display: inline-block;
    width: 160px;
    margin-right: 20px;
}
​
.recent-post-content {
    width: 395px;
    display: inline-block;
    vertical-align: top;
}
​
.recent-post-title {
    display: inline-block;
}
​
.recent-post-info {
    display: inline-block;
}
​
.recent-post-text {
    display: inline-block;
}
​