/*COMMON*/
.section-title {
    font-size: 22px;
    color: #333333;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 35px;
}
.clearfix{
    clear: both;
}
.section-desc {
    font-size: 17px;
    color: #4d4943;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 52px;
}
.divider {
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin-bottom: 45px;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.text-colored {
    color: #f1ad1d;
}
/*HEADER*/
.header {
    background-image: url(../image/header_background.png);
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}

.header-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 16px;
}

.header-subtitle {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    margin-bottom: 28px;
}

.main-img {
    max-width: 100%;
    height: auto;
}

.header-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 44px 30px;
}
/*ABOUT US*/

.about-us {
    padding-top: 72px;
    padding-bottom: 25px;
}
/*NAVBAR*/

.navbar {
    padding: 25px 0;
}
.navbar-logo{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 24px;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.navbar-nav{
    float:left;
    margin-left: 160px;
}

.navbar-nav-item{
    display: inline-block;
    margin-left: 76px;
}

.navbar-nav-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #a4a4a4;
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}


