html, body {
    padding: 0;
    margin: 0;
}
.header {
    background-image: url("../img/header-bg.png");
    padding-top: 122px;
    padding-bottom: 253px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.header-title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-size: 48px;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
}
.header-subtitle {
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
}
.main-content {
    padding-top: 51px;
    padding-bottom: 44px;

}
.container {
    width: 1140px;
    margin: 0 auto;
}
.main-content-title {
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 24px;
    margin-bottom: 39px;
    font-weight: 400;
}
.main-content-text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.main-content-list {
    margin-top: 38px;
    margin-bottom: 43px;
    list-style-type: none;
    padding-left: 0;
}
.main-content-list-item {
    text-transform: uppercase;
    font-size: 13px;
    margin-bottom: 26px;
    font-family: Arial, sans-serif;
}
.author-info {
    background-color: #e3eef0;
    width: 828px;
    padding-top: 51px;
    padding-left: 41px;
    padding-bottom: 51px;
    padding-right: 41px;
    box-sizing: border-box;
    margin-top: 44px;
}
.author-name{
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin-bottom: 25px;
    font-weight: 400;
}
.colored-text{
    color: orange;
}
.author-description{
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 1.5;
}