html, body {
    margin: 0;
    padding: 0;
}

.container {
    width: 1170px;
    margin: 0 auto;
}

.text-colored {
    color: #f1ad1d;
}

.header {
    background-image: url(../image/header_background.png);
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}

.header-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 16px;
}

.header-subtitle {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    margin-bottom: 28px;
}

.main-img {
    max-width: 100%;
    height: auto;
}

.header-slogan {
    text-transform: uppercase;
    font-size: 54px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 44px 30px;
}


