html, body, h1, h2, p {
    margin: 0;
    padding: 0;
}

.header-title {
    display: inline-block;
    border: 1px solid #000;
    padding: 20px 30px;
    margin-bottom: 30px;
    background-color: green;
}

.header-subtitle {
    display: inline-block;
    border: 1px solid #000;
}

.top-menu-link {
    margin: 0 25px;
}