.container {
    width: 1170px;
    margin: 0 auto;
}
.text-colored {
    color: #f1ad1d;
}
.section-title{
    text-align: center;
    font-size: 30px;
    text-transform: uppercase;
    font-family: Arial sans-serif;
    margin-bottom: 25px;
    color: #333333;
}
.section-line{
    width: 60px;
    height: 3px;
    background-color: #f1ad1d;
    margin-bottom: 40px;
}
.section-description{
    text-align: center;
    font-size: 23px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding-bottom: 52px;
    color: #4d4943;
}
.color-word{
    color: #f1b128;
}
.color-word:after{
    content: ' \25BC'

}

.header {
    background-image: url(../image/header_background.png);
    background-size: cover;
    padding-top: 531px;
    padding-bottom: 145px;
}

.header-title {
    font-size: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    margin-bottom: 16px;
}
.header-subtitle {
    font-size: 18px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #ffffff;
    margin-bottom: 28px;
}
.main-img {
    max-width: 100%;
    height: auto;
}
.header-slogan {
    display: inline-block;
    text-transform: uppercase;
    font-size: 54px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.4);
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 44px 30px;
}
.about-us{
    padding-top: 69px;
}
.nav-bar-logo{
    text-transform: uppercase;
    font-size: 28px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    text-decoration: none;
    letter-spacing: 1px;
    margin-right: 192px;

}
.nav-bar-menu{
    display: inline-block;
    margin-bottom: 33px;
}
.nav-bar-menu-item{
    display: inline-block;
    margin-right: 50px;
    font-size: 23px;
    text-transform: uppercase;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
}
.nav-bar-menu-link{
    text-decoration: none;
    color: #989898;
}
